**/build
**/logs
**/*.log
**/.classpath
**/.project
**/.svn
**/*.iml
**/target
**/.netbeans
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
**/nbproject

nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
